body {
    background-color: #D8E1E2;
    text-align: center;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 40px;
    font-family: monospace;
}

table {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    width: 800px;
}

.center {
    margin: 10px auto 10px auto;
}

td {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    width: 120px;
}

.titleTR {
    background-color: green;
    color: white;
    height: 40px;
    text-decoration: underline;
}

.classes {
    background-color: #CFF;
    color: black;
    height: 60px;
    font-size: 12px;
}

.classesTD {
    background-color: #E5CCFF;
    color: black;
    height: 60px;
    font-size: 12px;
}

.white {
    background-color: white;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: black;
    text-decoration: none;
}

#footer {
    color: black;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
